Test.TwitterFriendsSearcher/Service References/TwitterFriendsSearcherUiProvider/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Test.TwitterFriendsSearcher.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Test.TwitterFriendsSearcher.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ControlCenter">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:int" />
      <xs:element minOccurs="0" name="Y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlCenter" nillable="true" type="tns:ControlCenter" />
</xs:schema>